# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
VoidRisingTweaks_Client.launch
VoidRisingTweaks_Server.launch

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
LICENSE-Paulscode IBXM Library.txt
LICENSE-Paulscode SoundSystem CodecIBXM.txt
README.txt
options.txt
usernamecache.json
usercache.json
CREDITS.txt
changelog.txt
libs
logs
mods
nuclearcraft
resourcepacks
crash-reports
.mixin.out
saves
